/* color schema  */

$secondaryBackground-color: black;
$primaryBackground-color: white;
$primaryText-color: black;
$secondaryText-color: dimgray;
$primary-color: rgb(2, 2, 36);
$econdary-color: rgb(143, 143, 143);
$primaryBorder-color: white;
$secondaryBorder-color: rgb(0, 0, 0);
$primaryHover-color: rgb(53, 53, 53);
$font-family: "Roboto",
sans-serif;