/* main css */
/* Declare cube transition vairable */
/* for the cube ztranslate property  */
/* color schema  */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  letter-spacing: 1px;
}

html {
  /* scroll behaviour and overflow  */
  overflow-x: hidden;
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

a,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.timeline {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: timeline;
}

.timeline::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  background-color: #f0f0f0;
}

.timeline ul {
  position: relative;
  top: 25vh;
}

.timeline ul li {
  margin-bottom: 5vw;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timeline ul li .date {
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  font-weight: normal;
  position: relative;
  right: 120%;
  opacity: 0.2;
  background-color: #f1f1f1;
  color: gray;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  padding: 5px 10px;
  border-radius: 10px;
}

.timeline ul li:hover .date {
  opacity: 1;
}

.timeline ul li:hover .point {
  background-color: #070318;
  border: 4px #f7f7f7 solid;
  opacity: 1;
}

.timeline .point {
  min-width: 20px;
  height: 20px;
  background-color: #fefefe;
  border-radius: 100%;
  z-index: 2;
  border: 3px #dddddd solid;
  position: absolute;
  left: -5%;
  opacity: 0.6;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

img {
  cursor: none;
}

.img-magnifier-glass {
  position: absolute;
  border: 1px solid #020224;
  border-radius: 50%;
  cursor: none;
  width: 10vw;
  height: 10vw;
}

@media (min-width: 310px) and (max-width: 435px) {
  .img-magnifier-glass {
    display: none;
  }
}

@media (min-width: 435px) and (max-width: 768px) {
  .img-magnifier-glass {
    display: none;
  }
}

@media (min-width: 310px) and (max-width: 435px) {
  #BrasovMountainviewImg {
    display: none;
  }
}

@media (min-width: 435px) and (max-width: 768px) {
  #BrasovMountainviewImg {
    display: none;
  }
}

#BrasovMountainview {
  background-image: url("/Assets/Images/BrasovMountainview2.png");
  height: 100vh;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.quoteContainer {
  height: auto;
  overflow: hidden;
}

.quoteContainer .quote {
  text-align: center;
  text-transform: uppercase;
  font-size: xx-large;
  -webkit-text-emphasis: bold;
          text-emphasis: bold;
  padding: 1%;
  padding-left: 15%;
}

.quoteContainer .quote .quoteOwner {
  font-size: medium;
  color: black;
}

@media (min-width: 435px) and (max-width: 768px) {
  .quoteContainer .quote {
    padding-left: 0px;
  }
}

@media (min-width: 310px) and (max-width: 435px) {
  .quoteContainer .quote {
    padding: 0px;
  }
  .quoteContainer .quote span {
    width: 100%;
  }
}

.quoteContainer .faded {
  opacity: 0.4;
  font-size: smaller;
}

.quoteContainer .align-right {
  float: right;
}

@media (min-width: 435px) and (max-width: 768px) {
  .quoteContainer .align-right {
    float: none;
  }
}

.quoteContainer .align-left {
  float: left;
}

@media (min-width: 435px) and (max-width: 768px) {
  .quoteContainer .align-left {
    float: none;
  }
}

#btn-navMenu {
  display: none;
}

@media (min-width: 310px) and (max-width: 435px) {
  #btn-navMenu {
    display: block;
    grid-area: header-right;
    z-index: 5;
    margin-top: 50%;
    right: 5%;
    cursor: pointer;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  #btn-navMenu div {
    width: 10vw;
    height: 0.5vh;
    margin-bottom: 1vh;
    background-color: #020224;
    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, box-shadow 250ms, background-color 500ms;
    -webkit-transition: opacity 500ms, background-color 500ms, -webkit-transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), -webkit-box-shadow 250ms;
    transition: opacity 500ms, background-color 500ms, -webkit-transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), -webkit-box-shadow 250ms;
    transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, box-shadow 250ms, background-color 500ms;
    transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, box-shadow 250ms, background-color 500ms, -webkit-transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), -webkit-box-shadow 250ms;
  }
}

@media (min-width: 435px) and (max-width: 768px) {
  #btn-navMenu {
    display: none;
  }
}

#sideNavZone {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 4;
  grid-area: sideNavZone;
}

#sideNavZone:hover + #sideNav a {
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

aside {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 5;
  grid-area: sideNav;
}

aside a {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

aside:hover a {
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

aside nav {
  margin: auto;
  padding-top: 15vh;
}

aside nav .activeNav {
  display: none;
}

@media (min-width: 310px) and (max-width: 435px) {
  aside {
    grid-area: header-right;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: black;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 60px 0px;
  }
  aside nav {
    padding-top: 0px;
  }
  aside nav .navItem a {
    opacity: 1;
    color: dimgray;
  }
}

@media (min-width: 435px) and (max-width: 768px) {
  aside {
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    -ms-grid-column: 5;
    grid-area: sideNav;
  }
}

.navItem {
  list-style: none;
  text-decoration: none;
  padding: 1em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-bottom: 7vh;
}

.navItem a {
  position: absolute;
  color: #8f8f8f;
  opacity: 0.2;
}

.navItem a:hover {
  color: #020224;
  opacity: 1;
  font-size: larger;
}

body {
  background: linear-gradient(90deg, white 21px, transparent 1%) center, linear-gradient(white 21px, transparent 1%) center, lightgray;
  background-size: 22px 22px;
}

body::-webkit-scrollbar {
  width: 0 !important;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 3fr 1fr 1fr;
      grid-template-columns: 1fr 3fr 3fr 1fr 1fr;
  -ms-grid-rows: 1fr 2fr 2fr 1fr;
      grid-template-rows: 1fr 2fr 2fr 1fr;
  grid-gap: 1em;
      grid-template-areas: "timeline content-main  content-main sideNavZone sideNav" "timeline  content-main  content-main sideNavZone sideNav" "timeline  content-main  content-main  sideNavZone sideNav" "timeline  footer-left footer sideNavZone sideNav";
  width: auto;
  height: 100vh;
}

.container #contentContainer {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: content-main;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

@media (min-width: 435px) and (max-width: 768px) {
  .container {
    -ms-grid-columns: 0.5fr 1fr 2fr 1fr;
        grid-template-columns: 0.5fr 1fr 2fr 1fr;
    -ms-grid-rows: 1fr 2fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-areas: "timeline content-main content-main  sideNav" "timeline  content-main content-main   sideNav" "timeline content-main content-main  sideNav";
  }
  .container #contentContainer {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: content-main;
  }
}

@media (min-width: 310px) and (max-width: 435px) {
  .container {
    -ms-grid-columns: 4fr 1fr;
        grid-template-columns: 4fr 1fr;
    -ms-grid-rows: 0.25fr 2fr;
        grid-template-rows: 0.25fr 2fr;
        grid-template-areas: "header-left  header-right" "content-main   content-main";
    grid-gap: 0px;
  }
  .container #contentContainer {
    overflow: scroll;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
}

.container .emphasis {
  text-transform: uppercase;
  background: orange;
  font-size: larger;
  color: #292929;
  padding: 3px;
}

.container .Fade-Text {
  color: #6f6f6f;
  text-transform: uppercase;
}

.container .center {
  text-align: center;
}

.container section {
  display: none;
}

@media (min-width: 310px) and (max-width: 435px) {
  .container section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    top: 0;
  }
  .container section ul li {
    position: relative;
    padding: 3% 5%;
    color: black;
    background: white;
    border-top: 2px solid #020224;
    -webkit-box-shadow: 2px 1px 3px #030821;
            box-shadow: 2px 1px 3px #030821;
    margin-bottom: 5%;
    width: 100%;
  }
  .container section ul li ul li {
    border-top: none;
    margin-bottom: 0px;
  }
  .container section .sectionTitle {
    text-align: center;
    margin-bottom: 10%;
  }
  .container section .title {
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .container section .Subtitle {
    color: dimgray;
  }
  .container section .countryCode {
    font-size: x-small;
    color: dimgray;
  }
  .container section .info {
    color: black;
    padding: 1em 0;
  }
  .container section .info p {
    padding-bottom: 1em;
  }
  .container section .info::first-letter {
    text-transform: capitalize;
    line-height: 1.7;
  }
  .container section .date {
    text-align: start;
  }
  .container section .date span {
    right: 0px;
    color: dimgray;
    font-weight: bold;
  }
  .container section .collapsible {
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
  }
  .container section .collapsible:before {
    background-image: url("/Assets/Images/ExpandArrow.png");
    background-size: cover;
    background-repeat: no-repeat;
    float: right;
    width: 1.5em;
    height: 1.5em;
    content: "";
  }
  .container section .collapsible ~ .content {
    display: none;
    -webkit-transition: max-height 0.75s cubic-bezier(0, 1, 0, 1);
    transition: max-height 0.75s cubic-bezier(0, 1, 0, 1);
    overflow: hidden;
    padding: 2% 0px;
  }
  .container section .active:before {
    background-image: url("/Assets/Images/CollapseArrow.png");
    content: "";
  }
  .container section .active:before .content {
    display: block;
    -webkit-transition: max-height 0.75s cubic-bezier(0, 1, 0, 1);
    transition: max-height 0.75s cubic-bezier(0, 1, 0, 1);
  }
  .container section .active:before .date {
    margin-top: 1vh;
  }
  .container section .subSection, .container section .x-subSection {
    background: #e6e6e6;
    padding: 10px;
    border-radius: 5px;
  }
  .container section .subSection .quote, .container section .x-subSection .quote {
    margin-top: 3%;
    text-align: center;
    font-size: larger;
    background: #f3f3f3;
    padding: 10px;
    border-radius: 5px;
  }
  .container section .subSection .quote q, .container section .x-subSection .quote q {
    background: navajowhite;
  }
  .container section .subSection .collapsible:before, .container section .x-subSection .collapsible:before {
    width: 1em;
    height: 1em;
  }
  .container section .x-subSection {
    width: 90% !important;
    opacity: 0.8;
  }
}

.container .activeSection {
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  display: block;
}

.container #welcomeSection {
  /* display: none; */
  text-align: center;
  height: 100%;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  padding-top: 5%;
}

.container #welcomeSection #personalProfilePic {
  border-radius: 50%;
}

@media (min-width: 310px) and (max-width: 435px) {
  .container #welcomeSection #personalProfilePic {
    width: 50%;
  }
}

.container #welcomeSection:hover {
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  opacity: 1;
}

.container #welcomeSection #WelcomeParagraph {
  width: 50%;
  margin: auto;
  margin-top: 3vh;
  color: dimgray;
  text-align: center;
  font-size: larger;
}

.container #welcomeSection #WelcomeParagraph q::before,
.container #welcomeSection #WelcomeParagraph q::after {
  display: none;
}

@media (min-width: 310px) and (max-width: 435px) {
  .container #welcomeSection #WelcomeParagraph {
    width: 80%;
    text-align: justify;
    margin: auto;
    margin-top: 5%;
  }
}

@-webkit-keyframes load {
  from {
    width: 0%;
  }
}

@keyframes load {
  from {
    width: 0%;
  }
}

.container #skillsAndHobbiesSection .skillContainer {
  width: 100%;
}

.container #skillsAndHobbiesSection .bar {
  background-color: #EEE;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.container #skillsAndHobbiesSection .bar::before {
  content: attr(data-skill);
  background-color: #020224;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.container #skillsAndHobbiesSection .learning::before {
  width: calc(20% - 10px);
}

.container #skillsAndHobbiesSection .basic::before {
  width: calc(40% - 10px);
}

.container #skillsAndHobbiesSection .intermediate::before {
  width: calc(60% - 10px);
}

.container #skillsAndHobbiesSection .advanced::before {
  width: calc(80% - 10px);
}

.container #skillsAndHobbiesSection .expert::before {
  width: calc(100% - 10px);
}

.container #contactSection {
  /* display: none; */
  text-align: center;
}

.container #contactSection h3 {
  opacity: 0.2;
}

.container #contactSection h3:hover {
  opacity: 0.5;
}

.container #contactSection a {
  text-decoration: none;
  font-size: 22px;
  color: #8f8f8f;
  width: 25%;
  margin: auto;
}

.container #contactSection a:hover {
  color: #020224;
}

.container #contactSection #contactLinksContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25%;
}

@media (min-width: 310px) and (max-width: 435px) {
  .container #contactSection #contactLinksContainer {
    display: -ms-grid;
    display: grid;
    grid-gap: 50%;
  }
}

.info {
  -webkit-transition: letter-spacing 2s;
  transition: letter-spacing 2s;
}

.letterSpacing {
  letter-spacing: -5px;
  opacity: 0.1;
}

.letterSpacing a {
  letter-spacing: -5px;
}

.cubeContainer {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: content-main;
}

.cubeContainer #cube {
  position: absolute;
  left: 60%;
  bottom: 90%;
  -webkit-transform: preserve-3d rotatecube 10s infinite;
          transform: preserve-3d rotatecube 10s infinite;
  -webkit-transform-style: preserve-3d;
  -webkit-animation: rotatecube 10s infinite;
  -moz-transform-style: preserve-3d;
  -moz-animation: rotatecube 10s infinite;
}

.cubeContainer #cube div {
  width: 1em;
  height: 1em;
  display: block;
  position: absolute;
  border: 1px solid white;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

@media (min-width: 435px) and (max-width: 768px) {
  .cubeContainer #cube div {
    width: 2em;
    height: 2em;
  }
}

@-webkit-keyframes rotatecube {
  0% {
    -webkit-transform: rotateX(0deg) rotateZ(90deg);
            transform: rotateX(0deg) rotateZ(90deg);
  }
  12.5% {
    -webkit-transform: rotateX(45deg) rotateZ(45deg);
            transform: rotateX(45deg) rotateZ(45deg);
  }
  25% {
    -webkit-transform: rotateX(90deg) rotateY(45deg) rotateZ(180deg);
            transform: rotateX(90deg) rotateY(45deg) rotateZ(180deg);
  }
  37.5% {
    -webkit-transform: rotateX(135deg) rotateY(90deg) rotateZ(225deg);
            transform: rotateX(135deg) rotateY(90deg) rotateZ(225deg);
  }
  50% {
    -webkit-transform: rotateX(180deg) rotateY(135deg) rotateZ(270deg);
            transform: rotateX(180deg) rotateY(135deg) rotateZ(270deg);
  }
  62.5% {
    -webkit-transform: rotateX(225deg) rotateZ(315deg);
            transform: rotateX(225deg) rotateZ(315deg);
  }
  75% {
    -webkit-transform: rotateX(270deg) rotateZ(360deg);
            transform: rotateX(270deg) rotateZ(360deg);
  }
  100% {
    -webkit-transform: rotateX(0deg) rotateZ(90deg);
            transform: rotateX(0deg) rotateZ(90deg);
  }
}

@keyframes rotatecube {
  0% {
    -webkit-transform: rotateX(0deg) rotateZ(90deg);
            transform: rotateX(0deg) rotateZ(90deg);
  }
  12.5% {
    -webkit-transform: rotateX(45deg) rotateZ(45deg);
            transform: rotateX(45deg) rotateZ(45deg);
  }
  25% {
    -webkit-transform: rotateX(90deg) rotateY(45deg) rotateZ(180deg);
            transform: rotateX(90deg) rotateY(45deg) rotateZ(180deg);
  }
  37.5% {
    -webkit-transform: rotateX(135deg) rotateY(90deg) rotateZ(225deg);
            transform: rotateX(135deg) rotateY(90deg) rotateZ(225deg);
  }
  50% {
    -webkit-transform: rotateX(180deg) rotateY(135deg) rotateZ(270deg);
            transform: rotateX(180deg) rotateY(135deg) rotateZ(270deg);
  }
  62.5% {
    -webkit-transform: rotateX(225deg) rotateZ(315deg);
            transform: rotateX(225deg) rotateZ(315deg);
  }
  75% {
    -webkit-transform: rotateX(270deg) rotateZ(360deg);
            transform: rotateX(270deg) rotateZ(360deg);
  }
  100% {
    -webkit-transform: rotateX(0deg) rotateZ(90deg);
            transform: rotateX(0deg) rotateZ(90deg);
  }
}

.front,
.back,
.right,
.left,
.top,
.bottom {
  background: #020224;
  -webkit-transition: 1s;
  transition: 1s;
}

#cube:hover .top {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  transform: rotateX(90deg) translateZ(2em);
  -webkit-transform: rotateX(90deg) translateZ(2em);
  -moz-transform: rotateX(90deg) translateZ(2em);
}

#cube:hover .bottom {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  transform: rotateX(-90deg) translateZ(2em);
  -webkit-transform: rotateX(-90deg) translateZ(2em);
  -moz-transform: rotateX(-90deg) translateZ(2em);
}

#cube:hover .front {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  transform: rotateY(0deg) translateZ(2em);
  -webkit-transform: rotateY(0deg) translateZ(2em);
  -moz-transform: rotateY(0deg) translateZ(2em);
}

#cube:hover .back {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  transform: rotateX(180deg) translateZ(2em);
  -webkit-transform: rotateX(180deg) translateZ(2em);
  -moz-transform: rotateX(180deg) translateZ(2em);
}

#cube:hover .right {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  transform: rotateY(90deg) translateZ(2em);
  -webkit-transform: rotateY(90deg) translateZ(2em);
  -moz-transform: rotateY(90deg) translateZ(2em);
}

#cube:hover .left {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  transform: rotateY(-90deg) translateZ(2em);
  -webkit-transform: rotateY(-90deg) translateZ(2em);
  -moz-transform: rotateY(-90deg) translateZ(2em);
}

#cube .front {
  -webkit-transform: rotateY(0deg) translateZ(0.5em);
  -moz-transform: rotateY(0deg) translateZ(0.5em);
}

#cube .back {
  -webkit-transform: rotateX(180deg) translateZ(0.5em);
  -moz-transform: rotateX(180deg) translateZ(0.5em);
}

#cube .right {
  -webkit-transform: rotateY(90deg) translateZ(0.5em);
  -moz-transform: rotateY(90deg) translateZ(0.5em);
}

#cube .left {
  -webkit-transform: rotateY(-90deg) translateZ(0.5em);
  -moz-transform: rotateY(-90deg) translateZ(0.5em);
}

#cube .top {
  -webkit-transform: rotateX(90deg) translateZ(0.5em);
  -moz-transform: rotateX(90deg) translateZ(0.5em);
}

#cube .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(0.5em);
  -moz-transform: rotateX(-90deg) translateZ(0.5em);
}

.small-cube {
  z-index: -1;
}

.small-cube div {
  font-size: 25px !important;
}

/* turn off cube animation for accesibility concern */
@media (prefers-reduced-motion: reduce) {
  #cube {
    -webkit-animation: none;
            animation: none;
  }
}
/*# sourceMappingURL=personalWebsitStyles.css.map */