body {
    background: white;
    /* Declare cube transition vairable */
    --cube-transition-duration: 1s;
    /* for the cube ztranslate property  */
    --cube-Ztranslate: 2em;
    --cube-ZtranslateOnHover: 4em;
    /* color schema  */
    --primaryBackground-color: white;
    --secondaryBackground-color: black;
    --primaryText-color: black;
    --secondaryText-color: dimgray;
    --primary-color: rgb(2, 2, 36);
    --primaryBorder-color: white;
    --secondaryBorder-color: rgb(0, 0, 0);
    --primaryHover-color: rgb(53, 53, 53);
    /* font family  */
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* .actionCube {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: -40vh;
    left: 50vw;
    background-color: whitesmoke;
} */

#BrasovMountainview {
    background-image: url("Assests/BrasovMountainview2.png");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url("Assests/BrasovMountainviewDesktopVw.png"); */
    /* background-image: url("BrasovMountainviewEdited.png"); */
    /* width: 100vw;
    height: 150vh;
    max-width: 100%;
    object-fit: cover;
    background-repeat: no-repeat; */
    /* opacity: 0.1;
   transition: opacity 2s ease-in-out; */
}

.img-magnifier-glass {
    position: absolute;
    border: 3px solid var(--primary-color);
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 100px;
    height: 100px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 0.25fr 2fr 1fr;
    grid-gap: 1em;
    grid-template-areas: "header-left header-middle header-right" "content-left  content-middle content-right" "footer-left footer-middle footer-right ";
    width: auto;
    height: 100vh;
}


/*  Content Css START */

.content {
    padding: 1em;
}


/* hamburger btn */

#btn-navMenu {
    display: block;
    position: absolute;
    z-index: 5;
    right: 5%;
    margin-top: 10%;
    /* grid-area: header-right; */
    cursor: pointer;
}

#btn-navMenu div {
    width: 35px;
    height: 2px;
    margin-bottom: 8px;
    background-color: var(--primary-color, rgb(1, 8, 29));
    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, box-shadow 250ms, background-color 500ms;
    transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, box-shadow 250ms, background-color 500ms;
}

#btn-navMenu.active {
    left: 230px;
}

#btn-navMenu.active div {
    background-color: var(--primaryHover-color, #343838);
}

#btn-navMenu.active:hover>div {
    box-shadow: 0 0 1px var(--primaryHover-color, #343838);
}

#btn-navMenu.active #top {
    -webkit-transform: translateY(10px) rotate(-135deg);
    -ms-transform: translateY(10px) rotate(-135deg);
    transform: translateY(10px) rotate(-135deg);
}

#btn-navMenu.active #middle {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

#btn-navMenu.active #bottom {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
}

#contentContainer {
    /* grid-column: 2; */
    grid-area: content-middle;
}


/* timeline Css */


/* Welcome Section */

#welcomeSection {
    display: none;
    text-align: center;
}

#personalProfilePic {
    border-radius: 50%;
}


/* eductionSection */

#eductionSection {
    display: none;
}


/* experienceSection */

#experienceSection {
    display: block;
}


/* projects */

#projects {
    display: none;
}


/* skillsAndHobbies */

#skillsAndHobbies {
    display: none;
}


/* contactme */

#contactme {
    display: none;
}


/*  Content Css END */


/* media queries  */


/* tablet view  */

@media only screen and (min-width: 600px) and (max-width: 1000px) {}


/* mobile view  */

@media only screen and (max-width: 600px) {
    #cube div {
        --cube-Ztranslate: 1em;
        width: 2em;
        height: 2em;
    }
    #welcomeSection>p {
        width: 80%;
        text-align: justify;
        margin: auto;
    }
    #personalProfilePic {
        width: 50%;
    }
    .img-magnifier-glass {
        display: none;
    }
    /* change grid layout on mobile view  */
    .container {
        grid-template-columns: 4fr 1fr;
        grid-template-rows: 0.25fr 2fr;
        grid-gap: 1em;
        grid-template-areas: "header-left  header-right" "content   content";
        width: auto;
        height: 100vh;
    }
    #contentContainer {
        grid-area: content;
        transition: 1s ease-in-out;
    }
    /* side nav bar  */
    #sideNav {
        grid-area: header-right;
    }
    #sideNav li {
        list-style: none;
        text-decoration: none;
        padding: 1em;
    }
    #BrasovMountainview {
        height: 100vh;
        width: 100vw;
        max-width: 100vw;
    }
    /* li::before {
    content: '';
    width: 100%;
    height: 100%;
    background: orange;
    border: 3px solid white;
    margin: 0;
    padding: 1em;
} */
    .navItem {
        color: whitesmoke;
    }
    #sideNav {
        display: none;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: var(--secondaryBackground-color, #111);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    #btn-navMenu {
        transition: 0.5s ease-in-out;
    }
    .is-visible {
        opacity: 1;
        display: block;
    }
    .is-not-visible {
        opacity: 0;
        display: none !important;
    }
    .sectionTitle {
        text-align: center;
        margin-bottom: 10%;
    }
    .timelineContainer {
        height: auto;
        overflow: hidden;
    }
    .timelineContainer ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: relative;
        transition: all 0.5s linear;
        top: 0
    }
    .timelineContainer ul li {
        position: relative;
        padding: 3% 5%;
        color: var(--primaryText-color, rgb(0, 0, 0));
        background: white;
        border-top: 2px solid var(--primary-color, rgb(0, 0, 0));
        box-shadow: 2px 1px 3px #030821;
        margin-bottom: 5%;
        width: 100%;
    }
    .title {
        text-transform: uppercase;
        font-weight: 700;
        color: var(--primaryText-color, rgb(0, 0, 0));
        font-size: larger;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .Subtitle {
        color: var(--secondaryText-color, lightgrey);
    }
    .title .countryCode {
        font-size: x-small;
        color: var(--secondaryText-color, rgb(0, 0, 0));
    }
    .info {
        color: var(--primaryText-color, rgb(0, 0, 0));
        padding: 1em 0;
    }
    .info::first-letter {
        text-transform: capitalize;
        line-height: 1.7
    }
    a {
        color: inherit;
    }
    .date {
        text-align: start;
    }
    .date span {
        right: 0px;
        color: var(--secondaryText-color, rgb(0, 0, 0));
        font-weight: bold;
    }
    .collapsible {
        cursor: pointer;
        width: 100%;
        border: none;
        outline: none;
    }
    .subSection {
        background: #e6e6e6;
        padding: 10px;
        /* padding-left: 0px; */
        /* border: crimson; */
        border-radius: 5px;
    }
    .subSection .quote {
        margin-top: 3%;
        text-align: center;
    }
    .subSection .quote q {
        background: var(--primaryBackground-color, white);
    }
    .collapsible:before {
        /* content: url("Assests/ExpandArrow.png"); */
        /* color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px; */
        background-image: url("Assests/ExpandArrow.png");
        background-size: cover;
        background-repeat: no-repeat;
        float: right;
        width: 1.5em;
        height: 1.5em;
        content: "";
    }
    .subSection .collapsible:before {
        width: 1em;
        height: 1em;
    }
    .content {
        display: none;
        transition: max-height 0.75s cubic-bezier(0, 1, 0, 1);
        overflow: hidden;
        padding: 0px;
    }
    .active:before {
        background-image: url("Assests/CollapseArrow.png");
        content: "";
    }
    .active .content {
        display: block;
        transition: max-height 0.75s cubic-bezier(0, 1, 0, 1);
    }
    .active .date {
        margin-top: 1vh;
    }
    /* .accordion__item {
        border-bottom: 1px solid #e6e6e6;
    }
    .accordion__header {
        cursor: pointer;
        padding-bottom: 1rem;
        padding-top: 1rem;
        padding-right: 1.5rem;
        margin: 0;
    }
    .accordion__body {
        max-height: 0;
        overflow: hidden;
        padding: 0;
        transition: max-height .5s;
        transition-delay: -.2s;
        transition-timing-function: cubic-bezier(0, 1, 0, 1);
    }
    .accordion__header:before {
        background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='rgb%280%2C0%2C255%29'%3E%3Cpath fill-rule='evenodd' d='M3.646 8.306a.508.508 0 01-.71 0 .497.497 0 01-.007-.7l4.085-4.06 4.054 4.055a.505.505 0 010 .707.501.501 0 01-.71-.002L7.008 4.954 3.646 8.306z'/%3E%3C/svg%3E");
        margin-right: -1.5rem;
    } */
}


/* high quality  view devices */

@media only screen and (min-width: 1450px) {
    #cube div {
        --cube-Ztranslate: 2em;
        width: 4em;
        height: 4em;
    }
}


/* turn off cube animation for accesibility concern */

@media (prefers-reduced-motion: reduce) {
    #cube {
        animation: none;
    }
}


/*  Rotating cube ANIMATION START */

.cubeContainer {
    width: 20%;
    height: 20%;
    position: sticky;
    grid-column: 2;
    perspective: 100%;
    -webkit-perspective: 100%;
    -moz-perspective: 100%;
}

#cube {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    transform: preserve-3d rotatecube 10s infinite;
    -webkit-transform-style: preserve-3d;
    -webkit-animation: rotatecube 10s infinite;
    -moz-transform-style: preserve-3d;
    -moz-animation: rotatecube 10s infinite;
}

#cube div {
    width: 4em;
    height: 4em;
    display: block;
    position: absolute;
    border: 3px solid var(--primaryBorder-color, white);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

@-webkit-keyframes rotatecube {
    0% {
        -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(90deg) scale(1);
    }
    12.5% {
        -webkit-transform: rotateX(45deg) rotateY(315deg) rotateZ(45deg) scale(1.5);
    }
    25% {
        -webkit-transform: rotateX(90deg) rotateY(270deg) rotateZ(180deg) scale(1);
    }
    37.5% {
        -webkit-transform: rotateX(135deg) rotateY(225deg) rotateZ(225deg) scale(2);
    }
    50% {
        -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(270deg) scale(1);
    }
    62.5% {
        -webkit-transform: rotateX(225deg) rotateY(135deg) rotateZ(315deg);
    }
    75% {
        -webkit-transform: rotateX(270deg) rotateY(90deg) rotateZ(360deg);
    }
    100% {
        -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(90deg);
    }
}

@-moz-keyframes rotatecube {
    0% {
        -moz-transform: rotateX(0deg) rotateY(360deg) rotateZ(90deg);
    }
    25% {
        -moz-transform: rotateX(90deg) rotateY(270deg) rotateZ(180deg);
    }
    50% {
        -moz-transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg);
    }
    75% {
        -moz-transform: rotateX(270deg) rotateY(90deg) rotateZ(360deg);
    }
    100% {
        -moz-transform: rotateX(360deg) rotateY(0deg) rotateZ(270deg);
    }
}

.front,
.back,
.right,
.left,
.top,
.bottom {
    background: var(--primary-color, rgba(4, 4, 75, 0.99));
    transition: var(--cube-transition-duration);
}

#cube:hover .top {
    transition-duration: var(--cube-transition-duration);
    transform: rotateX( 90deg) translateZ( var(--cube-ZtranslateOnHover));
    -webkit-transform: rotateX( 90deg) translateZ(var(--cube-ZtranslateOnHover));
    -moz-transform: rotateX( 90deg) translateZ(var(--cube-ZtranslateOnHover));
}

#cube:hover .bottom {
    transition-duration: var(--cube-transition-duration);
    transform: rotateX( -90deg) translateZ(var(--cube-ZtranslateOnHover));
    -webkit-transform: rotateX( -90deg) translateZ(var(--cube-ZtranslateOnHover));
    -moz-transform: rotateX( -90deg) translateZ(var(--cube-ZtranslateOnHover));
}

#cube:hover .front {
    transition-duration: var(--cube-transition-duration);
    transform: rotateY(0deg) translateZ(var(--cube-ZtranslateOnHover));
    -webkit-transform: rotateY(0deg) translateZ(var(--cube-ZtranslateOnHover));
    -moz-transform: rotateY(0deg) translateZ(var(--cube-ZtranslateOnHover));
}

#cube:hover .back {
    transition-duration: var(--cube-transition-duration);
    transform: rotateX( 180deg) translateZ(var(--cube-ZtranslateOnHover));
    -webkit-transform: rotateX( 180deg) translateZ(var(--cube-ZtranslateOnHover));
    -moz-transform: rotateX( 180deg) translateZ(var(--cube-ZtranslateOnHover));
}

#cube:hover .right {
    transition-duration: var(--cube-transition-duration);
    transform: rotateY( 90deg) translateZ(var(--cube-ZtranslateOnHover));
    -webkit-transform: rotateY( 90deg) translateZ(var(--cube-ZtranslateOnHover));
    -moz-transform: rotateY( 90deg) translateZ(var(--cube-ZtranslateOnHover));
    ;
}

#cube:hover .left {
    transition-duration: var(--cube-transition-duration);
    transform: rotateY( -90deg) translateZ(var(--cube-ZtranslateOnHover));
    -webkit-transform: rotateY( -90deg) translateZ(var(--cube-ZtranslateOnHover));
    -moz-transform: rotateY( -90deg) translateZ(var(--cube-ZtranslateOnHover));
    ;
}

#cube .front {
    -webkit-transform: rotateY(0deg) translateZ(var(--cube-Ztranslate));
    -moz-transform: rotateY( 0deg) translateZ(var(--cube-Ztranslate));
}

#cube .back {
    -webkit-transform: rotateX( 180deg) translateZ(var(--cube-Ztranslate));
    -moz-transform: rotateX( 180deg) translateZ(var(--cube-Ztranslate));
}

#cube .right {
    -webkit-transform: rotateY( 90deg) translateZ(var(--cube-Ztranslate));
    -moz-transform: rotateY( 90deg) translateZ(var(--cube-Ztranslate));
}

#cube .left {
    -webkit-transform: rotateY(-90deg) translateZ(var(--cube-Ztranslate));
    -moz-transform: rotateY( -90deg) translateZ(var(--cube-Ztranslate));
}

#cube .top {
    -webkit-transform: rotateX( 90deg) translateZ(var(--cube-Ztranslate));
    -moz-transform: rotateX( 90deg) translateZ(var(--cube-Ztranslate));
}

#cube .bottom {
    -webkit-transform: rotateX( -90deg) translateZ(var(--cube-Ztranslate));
    -moz-transform: rotateX( -90deg) translateZ(var(--cube-Ztranslate));
}


/*  Rotating cube ANIMATION END */