.timeline {
    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 3px;
        background-color: #f0f0f0;
    }
    grid-area: timeline;
    // display: flex;
    ul {
        position: relative;
        top: 20vh;
        @include md {
            top: 15vh;
        }
        // right: 15vh;
        li {
            margin-bottom: 5vh;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            .date {
                transition: all 0.5s ease-in;
                font-weight: normal;
                position: relative;
                opacity: 0.1;
                color: gray;
                width: max-content;
                text-align: center;
                padding: 5px 10px;
                border-radius: 10px;
            }
            &:hover .date,
            &:hover .title,
            &:hover .point {
                opacity: 1;
            }
            &:hover .point {
                @extend .activePoint;
                background-color: #070318;
                border: 4px #f7f7f7 solid;
            }
            .title {
                transition: all 0.5s ease-in;
                opacity: 0.3;
                padding: 1em;
                text-transform: uppercase;
                @include md {
                    font-size: initial;
                }
            }
            .content {
                display: none;
                position: absolute;
                left: 25%;
                height: max-content;
                width: 50vw;
                @extend .card;
                @include md {
                    width: 60vw;
                    top: 15%;
                    margin-left: 5vw;
                }
            }
            .card {
                background: linear-gradient(90deg, $primaryBackground-color 21px, transparent 1%) center, linear-gradient($primaryBackground-color 21px, transparent 1%) center, lightgray;
                background-size: 22px 22px;
                z-index: 1;
                padding: 1em;
                border-radius: 5px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                transition: 0.3s;
            }
        }
        .info {
            transition: all 0.5s ease-in;
            border-radius: 5px;
            padding: 1em;
        }
        .activePoint {
            background-color: #070318;
            border: 4px #f7f7f7 solid;
            opacity: 1;
        }
        .point {
            min-width: 20px;
            height: 20px;
            background-color: rgb(4, 4, 29);
            border-radius: 100%;
            z-index: 2;
            border: 3px #f7f7f7 solid;
            position: absolute;
            left: -0.85%;
            opacity: 0.6;
            transition: all 0.5s ease-in;
            .clickMeIcon {
                position: absolute;
                z-index: 10;
                transform: rotate(75deg);
                right: 150%;
            }
        }
    }
    .active {
        .title {
            opacity: 1;
            .point {
                @extend .activePoint;
            }
        }
        .content {
            display: block;
        }
        .date {
            opacity: 1;
        }
    }
}