.quoteContainer {
    height: auto;
    overflow: hidden;
    .quote {
        text-align: center;
        text-transform: uppercase;
        font-size: xx-large;
        text-emphasis: bold;
        padding: 1%;
        padding-left: 15%;
        .quoteOwner {
            font-size: medium;
            color: $primaryText-color;
        }
        @include md {
            padding-left: 0px;
        }
        @include sm {
            padding: 0px;
            span {
                width: 100%;
            }
        }
    }
    .faded {
        opacity: 0.4;
        font-size: smaller;
    }
    .align-right {
        float: right;
        @include md {
            float: none;
        }
    }
    .align-left {
        float: left;
        @include md {
            float: none;
        }
    }
}