body {
    background: linear-gradient(90deg, $primaryBackground-color 21px, transparent 1%) center, linear-gradient($primaryBackground-color 21px, transparent 1%) center, lightgray;
    background-size: 22px 22px;
}

body::-webkit-scrollbar {
    width: 0 !important
}

// grid container 
.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-gap: 1em;
    grid-template-areas: "header-left  header-middle sideNav" "content-left  content-middle sideNav" "footer-left  footer-middle footer-right";
    width: auto;
    height: 100vh;
    //commons
    .emphasis {
        text-transform: uppercase;
        background: orange;
        font-size: larger;
        color: rgb(41, 41, 41);
        padding: 3px;
    }
    //    .content {
    //     padding: 1em;
    // }
    section {
        display: none;
    }
    .activeSection {
        transition: all 0.5s ease-in;
        display: block;
    }
    #welcomeSection {
        /* display: none; */
        text-align: center;
        height: 100%;
        transition: all 1s ease-out;
        opacity: 0.1;
        #personalProfilePic {
            border-radius: 50%;
        }
        &:hover {
            transition: all 1s ease-in;
            opacity: 1;
        }
        #WelcomeParagraph {
            width: 50%;
            margin: auto;
            margin-top: 3vh;
            color: $secondaryText-color;
            text-align: center;
            font-size: larger;
            & q::before,
            q::after {
                display: none;
            }
        }
    }
    #skillsAndHobbiesSection {
        .skillContainer {
            width: 100%;
        }
        .bar {
            background-color: #EEE;
            padding: 2px;
            border-radius: 15px;
            margin-bottom: 5px;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            color: #FFF;
            font-weight: bold;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            &::before {
                content: attr(data-skill);
                background-color: $primary-color;
                display: inline-block;
                padding: 5px 0 5px 10px;
                border-radius: inherit;
                animation: load 2s 0s;
                -webkit-animation: load 2s 0s;
                -moz-animation: load 2s 0s;
                -o-animation: load 2s 0s;
            }
        }
        .learning::before {
            width: calc(20% - 10px);
        }
        .basic::before {
            width: calc(40% - 10px);
        }
        .intermediate::before {
            width: calc(60% - 10px);
        }
        .advanced::before {
            width: calc(80% - 10px);
        }
        .expert::before {
            width: calc(100% - 10px);
        }
    }
    #contactSection {
        /* display: none; */
        text-align: center;
        h3 {
            opacity: 0.2;
            &:hover {
                opacity: 0.5;
            }
        }
        a {
            text-decoration: none;
            font-size: 22px;
            color: $secondary-color;
            width: 25%;
            margin: auto;
            &:hover {
                color: $primary-color;
            }
        }
        #contactLinksContainer {
            display: flex;
            margin-top: 25%;
        }
    }
}